@import './fonts.css';

* {
    box-sizing: border-box;
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
}

body {
    font-family: 'Yeseva One';
}

#weekDay {
    font-size: 50px;
    line-height: 56px;
    text-transform: uppercase;
    text-shadow:2px 4px 0px #8a8a8a;
}

#date {
    font-size: 88px;
    line-height: 100px;
    text-transform: uppercase;
    text-shadow: 2px 4px 0px #8a8a8a;
}

#wish {
    font-size: 76px;
    line-height: 80px;
    text-align: center;
    min-height: 270px;
    max-width: 1200px;
    font-family: 'Corinthia';
}

#time {
    font-size: 180px;
    line-height: 190px;
    text-shadow:2px 4px 0px #8a8a8a;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 70px;
    background-color: rgba(255, 255, 255, .1)
}